<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Notas</title>
</head>
<body>
    <h1>Insertar Notas</h1>

    <form method="post" action="{{ url_for('insert_notas') }}">
        <label for="id">ID:</label>
        <input type="text" name="id" required>

        <label for="nota">Nota:</label>
        <input type="text" name="nota" required>

        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" required>

        <button type="submit">Insertar Nota</button>
    </form>
</body>
</html>