<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Alumno</title>
</head>
<body>
    <h1>Insertar Alumno</h1>

    <form method="post" action="{{ url_for('insert_alumno') }}">
        <label for="id">ID:</label>
        <input type="text" name="id" required>

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" required>

        <button type="submit">Insertar Alumno</button>
    </form>
</body>
</html>
